.App{
  height: 100vh;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock{
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 0px 19px 0px #cc5151;
}
.inner-clock{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: antiquewhite;
  position: relative;
  display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 1px 1px #ff9867, inset 0px 1px 1px 0px #ffffff;
}
.time-num{
  /* border: 1px solid; */
    height: 100%;
    position: absolute;
    width: 20px;
    display: flex;
    justify-content: center;
}
.first-time{
  /* position: absolute; */
  /* left: -6px;
  top: 3px; */
}
.sec-time{
  /* position: absolute; */
  bottom: 3px;
  /* left: -6px; */
}
.time-num-span{
  display: block;
  position: absolute;
}
.hand{
  width: 0px;
  border: 1px solid #805300;
  position: absolute;
  top: 23px;
  bottom: 50%;
  transform-origin: bottom;
}
.hour-hand{
  top: 85px;
  bottom: 50%;
}
.min-hand{
  top: 48px;
}
/* .time-num::before{
  content: attr(data-first-time);
}
.time-num::after{
  content: attr(data-sec-time);
} */